<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{-- Utilisation de asset() pour l'icône --}}
  <link rel="icon" type="image/x-icon" href="{{ asset('resources/img/logo.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  @vite([`resources/css/${css}`, 'resources/css/app.css', 'resources/js/app.js'])
  <title>{{ title || '404' }} | {{ t('messages.test') ? 'Je donne, je prête' : 'Give or Lend' }}</title>
</head>

<body>
  <header>
    {{-- Route vers l'accueil (index) --}}
    <a href="{{ route('donation_objects.index') }}" class="logo">
      <img src="{{ asset('resources/img/logo.png') }}">
    </a>

    <div class="bouton">
      {{-- Route vers la création d'un objet --}}
      <a href="{{ route('donation_objects.create') }}" class="action-button">
        {{ t('messages.nav.add') }}
      </a>
      
      {{-- Route vers le compte utilisateur --}}
      <a href="{{ route('account') }}" class="textdeco">
        <img src="{{ asset('resources/img/user.png') }}" class="imgbutton">
      </a>
    </div>
  </header>

  <div class="bottom-action-bar">
    {{-- Même chose pour la barre mobile --}}
    <a href="{{ route('donation_objects.create') }}" class="action-button">
      {{ t('messages.nav.add') }}
    </a>
    <a href="{{ route('account') }}" class="action-button">
      {{ t('messages.nav.account') }}
    </a>
  </div>