:root{
    --colorform : #00986c;
    --colorback : #EAFAEA;
    --colorItem : #CAE0BC;
    --colorButton : #CAE0BC;
    --colorText : #57bd6b;
    --colorFocus : #5fa78bd5;
    --colorlink : #6E8E59;
}