:root{
    --colorform : #00986c;
    --colorback : #d0fdd7;
    --colorItem : #57bd9e;
    --colorButton : #6ac6ab;
    --colorText : #57bd6b;
    --colorFocus : #5fa78bd5;
    --colorlink : black;
}