:root{
    --colorform : #dde7c7;
    --colorback : #edeec9;
    --colorItem : #bfd8bd;
    --colorButton : #98c9a3;
    --colorText : #77bfa3;
    --colorFocus : #5fa78bd5;
    --colorlink : black;
}